@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;600;700&display=swap');
/* @import './normalize.css'; */

:root{
  --background-color: #23272e;
  --text-color: #fff;
  --navbar-color: #15181c;
  --accent-color: #41b883;
  --danger-color: #e06c75;
  --warning-color: #e5c07b;
  --info-color: #61afef;
}

html{
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Fira Sans', sans-serif;
}

body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  width: 80%;
  margin: auto;
}


/* -------------- Gobal Colors ------------------------- */
.info {
  background-color: var(--info-color);
  border: 2px solid transparent;
  transition: .5s ease all;
}

.info:hover {
  border: solid 2px var(--info-color);
  color: var(--info-color);
  background: none;
}

.danger {
  background-color: var(--danger-color);
  border: 2px solid transparent;
  transition: .5s ease all;
}

.danger:hover {
  border: solid 2px var(--danger-color);
  color: var(--danger-color);
  background: none;
}

.success {
  background-color: var(--accent-color);
}

.success:hover {
  border: solid 2px var(--accent-color);
  color: var(--accent-color);
}

.warning {
  background-color: var(--warning-color);
}

.warning:hover {
  border: solid 2px var(--warning-color);
  color: var(--warning-color);
}

/* -------------- End Gobal Colors ------------------------- */


/* -------------- Btn Colors ------------------------- */
/* Btn Styles */
.square {
  border-radius: 10px;
}

.circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/* --------- End Btn Styles -------------------- */